bower_components
node_modules
.idea
.DS_STORE
tmp
npm-debug.log
build
other
report
src/client/typings
src/client/app/compiledJS
src/client/app/test
src/client/app/general/general-feed-comments.html
src/client/app/shared/sharedSandbox.json
src/client/app/shared/sharedSandbox.ts
test
development-old
