<!-- splash page -->
<div id="splash-page" class="dissolve-animation" ng-show="sc.showSplash">
    <div class="site-width">
        <div class="page-splash" layout="row" layout-align="center center">
            <div class="splash-section" layout="column" flex="50">
                <h1>Friendly Pix</h1>
                <p>
                    The friendliest way to share your pics.
                </p>

                <div class="signed-out-only" layout="column">
                    <div class="firebaseui-auth-container" ng-show="sc.showLogin">
                        <div class="" ng-show="sc.showLogin">
                            <md-button class="md-raised" ng-click="sc.signInWithGoogle()">Sign In with Google</md-button>
                        </div>
                    </div>
                    <p>
                        <a class="fp-skip" href ng-click="sc.skipSignIn()">skip sign in</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end splash -->


<!-- base shell -->
<div layout="column" layout-fill>

    <header>
        <md-toolbar class="mfp-main-toolbar md-medium-tall">
            <div class="site-width-1024 toolbar-height-fix">
                <div class="toolbar-height-fix" layout="row" layout-align="none end">
                    <div class="" layout="row" style="height: 48px" flex>
                        <div layout="row" flex>
                            <div id="" layout="column">
                                <!-- TODO:  change this to h1 -->
                                <md-button href="" ui-sref="home.feed" class="tools-background" aria-label="Page Title">
                                    <h1 class="mfp-logo">
                                            <span>
                                                <md-icon>
                                                    <i class="material-icons">insert_photo</i>
                                                </md-icon>
                                            </span>
                                            FriendlyPix
                                        </h1>
                                </md-button>
                            </div>

                            <span flex></span>
                            <div class="shell-search-container" layout="column">
                                <people-search></people-search>
                            </div>
                            <div layout="row" class="sign-in-and-tools-icon" hide-xs>
                                <!-- <div class="">
                                    {{sc.currentAuth | json}}
                                </div> -->
                                <a class="md-button mfp-toolbar-user-info" href="" ui-sref="home.user({uid: sc.currentUid})">
                                    <div class="mfp-avatar" ng-style="{'background-image': 'url({{sc.currentAuth.photoURL}})'}">
                                    </div>
                                    <div class="mfp-toolbar-displayName">
                                        {{sc.currentAuth.displayName}}
                                    </div>

                                </a>
                                <md-menu class="mfp-toolbar-more" md-offset="0 0">
                                    <md-button class="tools-background" ng-click="$mdOpenMenu()">
                                        <md-icon>
                                            <i class="material-icons">more_vert</i>
                                        </md-icon>
                                    </md-button>
                                    <md-menu-content>
                                        <md-menu-item>
                                            <md-button ng-click="sc.signOut()">
                                                Sign Out
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="sc.showUserInfoForDevelopment()">UserId
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>

                            </div>

                        </div>

                        <!-- mobile button -->
                        <md-button class="md-icon-button" href="" ng-disabled="false" aria-label="Menu" md-ripple-size="auto" hide-gt-xs>
                            <md-icon>menu</md-icon>
                        </md-button>

                    </div>

                </div>


            </div>

        </md-toolbar>
        <div class="header-bottom">
            <div class="site-width-1024">
                <div layout="row">
                    <nav flex>
                        <!-- TODO: tabs ?  or display in-line-->
                        <div layout="row">
                            <a ui-sref="home.feed" class="md-button mfp-main-nav-item">
                                <span>
                                <md-icon><i class="material-icons">home</i></md-icon>
                            </span> Home
                            </a>
                            <a ui-sref="home.generalFeed" class="md-button mfp-main-nav-item">
                                <md-icon>
                                    <i class="material-icons">trending_up</i>
                                </md-icon>
                                Feed
                            </a>
                        </div>
                    </nav>
                    <span flex></span>
                    <choose-file>
                        <input id="fileInput" type="file" class="ng-hide">
                        <md-button id="uploadButton" class="md-fab md-mini md-accent">
                            <md-icon class="material-icons">file_upload</md-icon>
                        </md-button>
                    </choose-file>
                    <div class="upload-pics-container"></div>
                </div>
            </div>
        </div>
    </header>

    <main class="main">
        <div class="" ui-view="content"></div>
    </main>
</div>
