<!-- splash page -->
<div id="splash-page" class="dissolve-animation" ng-show="sc.showSplash">
    <div class="site-width">
        <div class="page-splash" layout="row" layout-align="center center">
            <div class="splash-section" layout="column" flex="50">
                <h1>Friendly Pix</h1>
                <p>
                    The friendliest way to share your pics.
                </p>

                <div class="signed-out-only" layout="column">
                    <div class="firebaseui-auth-container" ng-show="sc.showLogin">
                        <div class="" ng-show="sc.showLogin">
                            <md-button class="md-raised" ng-click="sc.signInWithGoogle()">Sign In with Google</md-button>
                        </div>
                    </div>
                    <p>
                        <a class="fp-skip" ui-sref="feed">skip sign in</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end splash -->


<!-- base shell -->
<div layout="column" layout-fill>

    <md-toolbar class="md-primary" md-whiteframe="3">
        <div class="site-width">
            <div layout="row" class="md-toolbar-tools">
                <md-button class="md-icon-button" href="" ng-disabled="false" aria-label="Menu" md-ripple-size="auto" hide-gt-sm>
                    <md-icon>menu</md-icon>
                </md-button>
                <div layout="row" flex>
                    <!-- TODO:  change this to h1 -->
                    <md-button href="" class="tools-background" aria-label="Page Title">
                        <span class="md-title-light color-106CC8">
                            FriendlyPix
                    </span>
                    </md-button>

                    <span flex></span>

                    <div layout="row">
                        <md-button class="tools-background" ng-click="sc.signOut()">
                            <span>Sign Out</span>

                        </md-button>
                    </div>

                </div>

            </div>
        </div>
    </md-toolbar>

    <md-content layout-padding layout-wrap>
        <div class="" ui-view="content"></div>
    </md-content>
</div>
