<!-- splash page -->
<div id="splash-page" class="dissolve-animation" ng-show="sc.showSplash">
    <div class="site-width">
        <div class="page-splash" layout="row" layout-align="center center">

            <div class="splash-section" layout="column" flex="50">
                <h1 class="mfp-logo">
                        <span>
                            <md-icon>
                                <i class="material-icons">insert_photo</i>
                            </md-icon>
                        </span>
                        Friendly Pix
                    </h1>
                <p>
                    The friendliest way to share your pics.
                </p>

                <div class="signed-out-only" layout="column">
                    <div class="firebaseui-auth-container" ng-show="sc.showLogin">
                        <div class="" ng-show="sc.showLogin">
                            <md-button class="md-raised" ng-click="sc.signInWithGoogle()">Sign In with Google</md-button>
                        </div>
                    </div>
                    <p>
                        <a class="fp-skip" href ng-click="sc.skipSignIn()">skip sign in</a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end splash -->
