<!-- TODO: Old user html in test.html -->

<section id="user-app-meta" class="site-width">
    <!-- TODO: should this be a md-card? and have a surround div-->
    <div class="fp-user-container md-whiteframe-1dp" layout="row">

        <div class="fp-user-avatar" ng-style="{'background-image': 'url({{uc.personObj.profile_picture}})'}">
        </div>
        <div class="fp-name-follow-container" layout="column">

            <div class="fp-user-username">{{uc.personObj.full_name}}</div>
            <div class="fp-user-username">{{uc.personObj.$id}}</div>
            <!-- follow user conditional -->

            <div class="" ng-show="!uc.showToggleFollow(uc.authedUser.uid, uc.personObj.$id)">
                <label>{{uc.followLabel}}  <input type="checkbox" ng-model="uc.currentFollowedState" ng-change="uc.toggleFollowUserTest(uc.personObj.$id, uc.currentFollowedState)"></label>
                <div class="">
                    {{uc.currentFollowedState}}
                </div>

            </div>
            <div class="fp-user-username"><span>Posts</span>: {{uc.personObjPostsCount}}</div>



        </div>
        <!-- <div class="">
            <div class="">
                personObj
            </div>
            <div class="">
                {{uc.personObj.posts | json}}
            </div>
        </div> -->



    </div>
    <div layout="row" layout-wrap="">
        <!-- <div class="">
            {{uc._userFeedData | json}}
        </div> -->

        <!-- TODO:  flex 50 not working to what I expect
        flex-gt-xs="50"
        Also: the pics are coming out oldest to newest... 1. reverse it from controller or service - but real solution is the code from - app firebase.js
        -->

        <!-- <div class="fp-user-feed" ng-style="{'background-image': 'url({{d.full_url}})'}" ng-repeat="d in uc._userFeedData" layout-margin layout-wrap flex="100" flex-gt-sm="30">
            <div >

            </div>
        </div> -->
    </div>
</section>
