<!-- home feed(feet of the user & people user is following) -->
<section id="home-feed" class="site-width" ng-show="!hc.showLogin">
    <div class="fp-content">
        <div class="showNoPostsMessageContainer" md-whiteframe="1" ng-show="hc.showNoPostsMessage">
            <span>You currently have no pix posts.</span>
            <p>
                {{hc.showNoPostsMessageContainer}}
            </p>
        </div>
        <div>

            <!-- TODO:  fix this or mimix the friendlyPix -->
            <md-button class="md-raised" ng-click="hc.updateNewPosts()">New Post:  {{hc.pixData.length}}</md-button>


        </div>

        <hr>
        <div class="" ng-repeat="p in hc.pixData track by $index">

            <div class="" ng-style="{'background-image': 'url({{p.thumb_url}})', 'background-size': 'cover', 'height': '100px', 'width': '100px'}">

            </div>
            <div>

                    <span>{{p.author.full_name}}</span>: <span>{{p.text}}</span>


            </div>

            <hr>
        </div>

        <div class="">
            <md-button class="md-raised" ng-click="hc.next()">content</md-button>
        </div>

    </div>

</section>
<!-- /home feed -->
