<!-- TODO: change the  variable to something more identifiable -->
<div class="" ng-repeat="b in a">
    <div class="">
        <span><a ui-sref="home.user({uid: b.author.uid})">{{b.author.full_name}}:</a>  </span>
        <span>{{b.text}}</span>
    </div>
</div>
<!-- /ng repeat  -->

<div class="mfp-comments-section-submit">
    <form class="" autocomplete="off" ng-submit="submitComment(postId, picComment)">
        <md-input-container>
            <label>Comment...</label>
            <input ng-model="picComment" name="picComment" >
        </md-input-container>
    </form>
</div>
