<!-- ng-show="!gc.showLogin" -->
<section id="home-feed" class="site-width">
    <div class="fp-content">
        <!-- ng-show="gc.showNoPostsMessage" -->
        <div class="showNoPostsMessageContainer" md-whiteframe="1">
            <span>You currently have no pix posts.</span>
            <p>
                <!-- {{gc.showNoPostsMessageContainer}} -->
            </p>
        </div>
        <div>

            <!-- TODO:  fix this or mimix the friendlyPix -->
            <!-- <md-button class="md-raised" ng-click="gc.updateNewPosts()">New Post:  {{gc.pixDataArray1.length}}</md-button> -->


        </div>

        <hr>
        <!-- <div class="">
            {{ gc.generalDataDescending|| json}}
        </div> -->

        <div class="" ng-repeat="g in gc.generalDataDescending | reverse">

             <div class="" ng-style="{'background-image': 'url({{g.thumb_url}})', 'background-size': 'cover', 'height': '100px', 'width': '100px'}">

            </div>
            <div>
                     <div>{{g.$id}}</div>
                     <div>{{g.timestamp | date : 'medium'}}</div>
                     <div class="">
                        <span><b>{{g.author.full_name}}</b></span>: <span>{{g.text}}</span>
                     </div>
                     <!-- https://docs.angularjs.org/api/ng/directive/ngSubmit -->

                     <comment-directive name="g.$id"></comment-directive>

            </div>

            <hr>
        </div>

        <div class="">
            <!-- <md-button class="md-raised" ng-click="gc.next()">content</md-button> -->
        </div>

    </div>

</section>
<!-- /home feed -->
