<!-- ng-show="!gc.showLogin" -->
<section id="general-feed" class="site-width-1024">
    <div class="fp-content" layout="column" layout-margin>
        <div class="">
            {{gc.length}}
        </div>
        <div class="" ng-show="gc.newPostsCountArray.length">
            <span><strong>New Post Count </strong> </span>
            <!-- TODO: dynamic posts/post  -->
            <button type="button" name="button" ng-click="gc.displayAllPosts()">There are {{gc.newPostsCountArray.length}} New Posts</button>

        </div>
        <hr>
        <div class="feed-container fp-layout" infinite-scroll="gc.concatNextPage()">
            <div class="" ng-repeat="d in gc.entries track by $index">

                <!-- Picture post header -->
                <div class="fp-avatar" ng-style="{'background-image': 'url({{d.value.author.profile_picture}})'}"></div>
                <div><a ui-sref="home.user({uid: d.value.author.uid})">{{d.value.author.full_name}}</a></div>
                <div> {{d.value.timestamp | getTimeText}}</div>

                <!-- Picture post image -->
                <div class="" ng-style="{'background-image': 'url({{d.value.thumb_url}})', 'background-size': 'cover', 'height': '100px', 'width': '100px'}">
                </div>

                <!-- Users real-time likes -->
                <div class="">
                    <like-directive post="d.key"></like-directive>
                </div>

                <!--  Poster's description/original comment -->
                <div>
                    <span><a ui-sref="home.user({uid: d.value.author.uid})">{{d.value.author.full_name}}</a></span>
                    {{d.value.text}}
                </div>

                <!-- Users real-time comments -->
                <div class="">
                    <comment-directive name="d.key"></comment-directive>
                </div>

                <hr>

            </div>
        </div>


        <!-- <div class="">

            <button type="button" ng-click="gc.concatNextPage()">
                More
            </button>
        </div> -->


        <!-- <div class="" ng-repeat="tx in tx.generalDataDescending track by $index">




    </div> -->


</section>
<!-- /home feed -->
