<div class="">
    <div class="">
        <!-- User has not liked yet  -->
        <div layout="row">

            <div class="">
                <md-icon ng-click="updateUsersLike(true)" ng-show="!userLikeStatus">
                    <i class="material-icons mfp-like-icon">favorite_border</i>
                </md-icon>


            <!-- User has already liked yet -->

            <md-icon ng-click="updateUsersLike(false)" ng-show="userLikeStatus">
                <i class="material-icons mfp-like-icon">favorite</i>
            </md-icon>

            </div>
            
            <span flex></span>

            <div>
                <div class="mfp-like-count">
                {{likeCount.length}} <span> likes</span>
                </div>
            </div>

        </div>



    </div>

</div>
