.hidden-chars ._dot:after, .hidden-dot:after, .site-footer .supporting-information ._dot:after {
    opacity: .4;
    content: "·";
    left: 50%;
    top: 46%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.bg-f6f6f6 {
    background: #f6f6f6 !important;
    color: #202020 !important;
}
