.fp-layout {
    width: 100%;
        height: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
}
